//colors
$color-primary:#94C13D;
$color-white:white;
$color-graydark1:#222222;
$color-graydark2:#3a3636;
$color-graydark1-opacity:unquote('#22222273');


//shadow
$color-shadow:rgb(224, 223, 223);
$bulr-shadow:30px;

//drop down-list
$padding-top-dropdown:1.1rem;
$top-dropdown-content:119px;
$drop-down-width:21.0rem;
$margin-smallvalue:1.5rem;
$border-rightleft:2.5rem;
$padding-dropdown:2.5rem;
$padding-contents-left:3.0rem;


 
//header
$logo-margin-top:4.2rem;
$logo-margin-left:1rem;
$logo-margin-bottom:2rem;
$logo-margin-right:15.7rem;
$header-contents-margin-top:5rem;
$header-contents-margin-left:3rem;
$header-contents-margin-right:6rem;
$search-icon-margin-top:6rem;
$search-icon-margin-LeftandRight:1rem;
$search-icon-margin-bottom:4rem;


//progress-bar
$percent-width-height:2.8rem;
$bar-width:36rem;
$bar-height:1rem;




$padding-smallvalue:1.1rem;
$padding-largevalue:4rem;

$border-width:2px;


//image-block vars
$top-button-position:60rem;
$right-button-position:56rem;
$top-arrows-position:30rem;
$top-text-position:40rem;
$left-right-arrow-position:5rem;
$left-left-arrow-position:125rem;
$left-text-position:15rem;
$small-font-size:3rem;
$large-font-size:5rem;


//lines
$first-line-width:1.5rem;
$first-line-width-afterhover:6rem;
$second-line-width:3rem;
$margin-between-lines:0.2rem;
$margin-between-components:2rem;
$margin-top-circle-button:6.1rem;


//card-about-us
$height-card-about-us:45rem;
$pictures-block-width:83.3rem;
$big-picture-width: 67.3rem;
$big-picture-height:40rem;
$small-picture-width: 30rem;
$small-picture-height:27.8rem;
$small-picture-left:41.3rem;
$text-block-width:64rem;


//section-title
$margin-between-elements:1.5rem;

//background-image-fixed-attachment-block-element
$margin-icon:1rem;
$font-size-icon:6rem;
$font-size-number:5rem;

//background-image-fixed-attachment-block
$counter-section-height:25rem;


//cards-rotatex-overlay-scale-image-block
$height-cards-rotatex-overlay-scale-image-block:74rem;

//card-with-rotatex-overlay
$width-card-with-rotatex-overlay:30rem;
$height-card-with-rotatex-overlay:26rem;

//card-with-progress-bar
$width-card-with-progress-bar:36rem;
$height-card-with-progress-bar:69rem;
$height-card-with-progress-bar-image:28rem;


//card-rotatex-overlay-scale-image
$width-card-rotatex-overlay-scale-image:36rem;
$height-card-rotatex-overlay-scale-image:57rem;
$height-card-rotatex-overlay-scale-image-image:28rem;