*
{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; //here we make 1rem = 10px

}
body
{
    font-size: 1.6rem; //font = 16px
    font-family: Roboto, sans-serif; //sans-serif because if our font roboto doesn't load
    
}